DATABASE_URL="postgresql://neondb_owner:npg_WY3tf9Ceyumg@ep-red-cherry-aximztmi-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require&pgbouncer=true&connection_limit=10&connect_timeout=15"
JWT_SECRET="peoplepay360-super-secret-jwt-key-for-development-and-testing-2026"
PORT=5000
CLIENT_ORIGIN="http://localhost:5173"

# SMTP Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="payroll60@gmail.com"
SMTP_PASS="hzkw galn ypiz ycwf"
SMTP_FROM="PeoplePay360 <payroll60@gmail.com>"
